@font-face {
	font-family: "iconfont-chopo";
	src: url('fonts/iconfont-chopo.eot');
	src: url('fonts/iconfont-chopo.eot?#iefix') format('eot'),
		url('fonts/iconfont-chopo.woff2') format('woff2'),
		url('fonts/iconfont-chopo.woff') format('woff'),
		url('fonts/iconfont-chopo.ttf') format('truetype'),
		url('fonts/iconfont-chopo.svg#iconfont-chopo') format('svg');
}

.icon:before {
	font-family: "iconfont-chopo";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-uE000-analisis:before {
	content: "\E001";
}

.icon-uE001-rayosx:before {
	content: "\E002";
}

.icon-uE002-ultrasonido:before {
	content: "\E003";
}

.icon-uE003-resonancia:before {
	content: "\E004";
}

.icon-uE004-tomografia:before {
	content: "\E005";
}

.icon-uE005-checkups:before {
	content: "\E006";
}

.icon-uE006-checkups2:before {
	content: "\E007";
}

.icon-uE007-sucursal:before {
	content: "\E008";
}

.icon-uE008-mastografia:before {
	content: "\E009";
}

.icon-uE009-flechaAtras:before {
	content: "\E00A";
}

.icon-uE00A-flechaAdelante:before {
	content: "\E00B";
}

.icon-uE00B-pin:before {
	content: "\E00C";
}

.icon-uE00C-close:before {
	content: "\E00D";
}

.icon-uE00D-question:before {
	content: "\E00E";
}

.icon-uE00E-check:before {
	content: "\E00F";
}

.icon-uE00F-edit:before {
	content: "\E010";
}

.icon-uE010-cart:before {
	content: "\E011";
}

.icon-uE011-flechaAbajo:before {
	content: "\E012";
}

.icon-uE012-flechaArriba:before {
	content: "\E013";
}

.icon-uE013-busqueda:before {
	content: "\E014";
}

.icon-uE014-menu:before {
	content: "\E015";
}

.icon-uE015-facebook:before {
	content: "\E016";
}

.icon-uE016-twitter:before {
	content: "\E017";
}

.icon-uE017-instagram:before {
	content: "\E018";
}

.icon-uE018-phone:before {
	content: "\E019";
}

.icon-uE019-mobile:before {
	content: "\E01A";
}

.icon-uE01A-computer:before {
	content: "\E01B";
}

.icon-uE01B-whatsapp:before {
	content: "\E01C";
}

.icon-uE01C-mail-circle:before {
	content: "\E01D";
}

.icon-uE01D-play:before {
	content: "\E01E";
}

.icon-uE01E-otros-estudios:before {
	content: "\E01F";
}

.icon-index.html:before {
	content: "\E020";
}
